* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #057bd6;
    --secondary-color: #18567f;
  }
  
.oswald-regular {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: hsl(201, 91%, 57%);
    overflow: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    border-radius: 6px;

}

.score-board {
    display: flex;
    justify-content: space-between;
    width: 40%;
}


.game-board {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(20, 20px); /* 20 hücre genişliği */
    grid-template-rows: repeat(20, 20px);
    gap: 0px;
    width: 400px;
    height: 100%;
    border-radius: 6px;
}

.cell {
    background-color: green;
    border: 1px solid black;
    width: 20px;
    height: 20px;
}

.cell.snake {
    background-color: yellow;
}

.cell.food {
    background-color: red;
}

.game-over-screen {
    background-color: var(--primary-color);
    border-radius: 6px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.play-again-button {
    background-color: var(--secondary-color);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 4px;
    transform: background-color 0.3s ease;
}

.play-again-button:hover {
    background-color: rgb(17, 49, 127);
}

.main-screen {
    background-color: var(--primary-color);
    border-radius: 6px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.snake-image {
    width: 80px;
    height: 80px;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.5));
}

.mobile-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.button {
    background-color: var(--secondary-color);
    width: 100%;
    padding: 8px;
    border: none;
    cursor: pointer;
    display: block;
    transform: background-color 0.3s ease;
}

.button:hover {
    background-color: #0c3855;;
}

@media only screen and (min-width: 769px) {
    .button {
        display: none;
    }
}